# frozen_string_literal: true
<%= add_comment_timestamp %>
<%= add_comment_creator %>
class <%= class_name %>::<%= @action.humanize %>Operation < ApplicationOperation
  def call

  end

  private
end
